<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
>
  {{#unless this.hasItemsSource}}
    {{yield (hash Column=(
      component this.columnTemplateName 
      visualParent=this
      classNamesBuilder=this.classNamesBuilder
    ))}}
  {{/unless}}
</div>