<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
  {{allow-draggable}}
>
  {{yield (hash Column=(component this.columnTemplateName 
    visualParent=this
    logicalParent=this.visualParent
    classNamesBuilder=this.classNamesBuilder
  ))}}
</div>