$scroll-port-z-index:             1 !default;
$scroll-port-track-size:          16px !default;
$scroll-port-bar-size:            2px !default;
$scroll-port-bar-size-hover:      12px !default;
$scroll-port-bar-outstand:        2px !default;

.#{block("scroll-port")} {
  position: relative;
  width: 100%;
  height: 100%; 
  &.#{block-modifier("scroll-port","x-visible")} {
    .#{block-element-modifier("scroll-port", "track", "x")} {
      display: block;
    }
  }
  &.#{block-modifier("scroll-port", "y-visible")} {
    .#{block-element-modifier("scroll-port", "track", "y")} {
      display: block;
    }
  }
  > .#{block-element("scroll-port", "screen")} {
    height: 100%;
    width: 100%;
    display: flex;
    .#{block-element("scroll-port", "content")} {
      overflow: hidden;
      position: relative;
    }
  }
  > .#{block-element("scroll-port", "track")} {
    position: absolute;
    right: 0;
    overflow: hidden;
    display: none;
    z-index: 0;
    background: transparent;
    > .#{block-element("scroll-port", "bar")} {
      position: absolute;
      opacity: .5;
      background:black;
      border-radius: 4px;
      user-select: none;
      z-index: 1;
      &:hover {
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }
  }
  > .#{block-element-modifier("scroll-port", "track", "x")} {
    width: 100%;
    bottom: 0;
    left: 0;
    height: $scroll-port-track-size;
    > .#{block-element("scroll-port", "bar")} {
      height: $scroll-port-bar-size;
      transition: height 0.1s linear;
      bottom: $scroll-port-bar-outstand;
      &.#{block-element-modifier("scroll-port", "bar", "grabbed")} {
        opacity: 1;
        height: $scroll-port-bar-size-hover;
      }
      &:hover{
        height: $scroll-port-bar-size-hover;
      }
    }
  }
  > .#{block-element-modifier("scroll-port", "track", "y")} {
    width: $scroll-port-track-size;
    top: 0;
    height: 100%;
    > .#{block-element("scroll-port", "bar")} {
      width: $scroll-port-bar-size;
      transition: width 0.1s linear;
      right: $scroll-port-bar-outstand;
      &.#{block-element-modifier("scroll-port", "bar", "grabbed")} {
        opacity: 1;
        width: $scroll-port-bar-size-hover;
      }
      &:hover {
        width: $scroll-port-bar-size-hover;
      }
    }
  }
}