<div 
  class={{this.classNames}}
  {{split-view-modifier
    fluent=this.fluent
    responsive=this.responsive
    axis=this.axis
    minPaneSize=this.minPaneSize
    barSize=this.barSize
    sizeTarget=this.sizeTarget
    sideTarget=this.sideTarget
    sideOrigin=this.sideOrigin
    classNamesBuilder=this.classNamesBuilder
    maxSizeTarget=this.maxSizeTarget
    minPaneSizes=@minPaneSizes
    sizes=@sizes
    onSizeChanged=@onSizeChanged
  }}
  ...attributes
  >
  {{yield (hash Pane=(
    component "split-view/pane"
    content=@content
    classNamesBuilder=this.classNamesBuilder))
  }}
</div>