<div 
  class="{{bem "split-view"}}"
  {{did-update 
    this.didUpdateAttrs 
    @barSize
    @minSize
  }}
  {{split-view-modifier
    host=this
    axis=this.axis
    minSizes=@minSizes
    sizes=@sizes
    barSize=@barSize
    fluent=@fluent
    responsive=@responsive
    onSizeChanged=@onSizeChanged
  }}
  ...attributes
  >
  {{yield (hash Pane=(
    component "split-view/pane"
    axis=this.axis
    content=@content))
  }}
</div>