<div class={{this.classNames}}>
  {{#if this.hasItemsSource}}
    {{#let (component this.itemTemplateName) as |template|}}
      {{#each this.children as |container|}}
        {{template
          visualParent=this
          logicalParent=this.visualParent
          isRoot=this.isRoot
          container=container
          isSelected=container.isSelected
          isExpanded=container.isExpanded
          itemsSource=container.itemsSource
          hasSelectedNodes=container.hasSelectedNodes
          multipleSelectionEnable=this.multipleSelectionEnable
        }}
      {{/each}}
    {{/let}}
  {{else}}
    {{yield}}
  {{/if}}
</div>