<div class={{this.classNames}}>
  {{#if this.hasItemsSource}}
    {{#each this.children as |container|}}
      {{component this.itemTemplateName
        visualParent=this
        logicalParent=this.visualParent
        isRoot=this.isRoot
        isSelected=container.isSelected
        isExpanded=container.isExpanded
        header=container.header
        itemsSource=container.itemsSource
        multipleSelectionEnable=this.multipleSelectionEnable
      }}
    {{/each}}
  {{else}}
    {{yield}}
  {{/if}}
</div>