<div class={{this.classNames}}>
  {{#if this.hasItemsSource}}
    {{#let (component this.itemTemplateName) as |template|}}
      {{#each this.children as |container|}}
        {{template
          visualParent=this
          logicalParent=this.visualParent
          container=container
          header=container.header
          isSelected=container.isSelected
          isExpanded=container.isExpanded
          itemsSource=container.itemsSource
          classNamesBuilder=this.classNamesBuilder
          itemTemplateName=this.itemTemplateName
          titleTemplateName=this.titleTemplateName
          headerTemplateName=this.headerTemplateName
          expanderTemplateName=this.expanderTemplateName
          multipleSelectionEnable=this.multipleSelectionEnable
        }}
      {{/each}}
    {{/let}}
  {{else}}
    {{yield}}
  {{/if}}
</div>