<div class={{this.classNames}}>
  {{#if this.hasItemsSource}}
    {{#each this.children as |container|}}
      {{component this.itemTemplateName
        visualParent=this
        logicalParent=this.visualParent
        isRoot=this.isRoot
        isExpanded=this.isExpanded
        item=container.item
        header=container.header
        isSelected=container.isSelected
        itemsSource=container.items
        multipleSelectionEnable=this.multipleSelectionEnable
      }}
    {{/each}}
  {{else}}
    {{yield}}
  {{/if}}
</div>