.data-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  .data-table__column {
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
  }
}