.#{block("data-table")} {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.#{block-element("data-table", "head")} {
  height: auto;
  width: auto;
}

.#{block-element("data-table", "column")} {
  width: 100%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}

.#{block-element("data-table", "bar")} {
  @extend .#{block-element("split-view", "bar")};
  > .#{block-element-modifier("data-table", "bar", "x")} {
    @extend .#{block-element-modifier("split-view", "bar", "x")};
  }
  > .#{block-element-modifier("data-table", "bar", "y")} {
    @extend .#{block-element-modifier("split-view", "bar", "y")};
  }
}

.#{block-element("data-table", "decorator")} {
  @extend .#{block-element("split-view", "decorator")};
}

.#{block-element("data-table", "row")} {
  display: flex;
  flex-direction: row;
}