* {
  box-sizing: border-box;
}

body {
  background-color: #1f2227;
  margin: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #dad8d8;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  padding-left: 3px;
}

input, select {
  border: none;
  background-color: #1f2227;
  color: #dad8d8;
  outline: none;
  width: 100%;
  font-size: 12px;
}

input[type=checkbox] {
  width: auto;
}

.header {
  text-align: center;
  line-height: 50px;
}

.tab-control {
  width: 100%;
  height: 100%;
}
.tab-control > .tab-control__tabs {
  border: none;
  border-bottom: 1px solid #2c2f34;
}
.tab-control > .tab-control__tabs > .tab-control__tab, .tab-control .tab-control__tabs-scroll-port > .tab-control__tab {
  color: #dad8d8;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;
}
.tab-control > .tab-control__tabs > .tab-control__tab:hover, .tab-control .tab-control__tabs-scroll-port > .tab-control__tab:hover {
  background-color: #26292d;
}
.tab-control > .tab-control__tabs > .tab-control__tab_active, .tab-control .tab-control__tabs-scroll-port > .tab-control__tab_active {
  background-color: #26292d;
  box-shadow: inset 0px 3px 0px 0px #bd1e11;
}
.tab-control > .tab-control__content {
  text-align: justify;
  overflow: hidden;
}

.tab-control_left > .tab-control__tabs {
  border: none;
  border-right: 1px solid #2c2f34;
}
.tab-control_left > .tab-control__tabs > .tab-control__tab_active, .tab-control_left > .tab-control__tabs > .scroll-port > .scroll-port__screen > .scroll-port__content > .tab-control__tabs-scroll-port > .tab-control__tab_active {
  box-shadow: inset 3px 0px 0px 0px #bd1e11;
}

.tab-control_right > .tab-control__tabs {
  border: none;
  border-left: 1px solid #2c2f34;
}
.tab-control_right > .tab-control__tabs > .tab-control__tab_active, .tab-control_right > .tab-control__tabs > .scroll-port > .scroll-port__screen > .scroll-port__content > .tab-control__tabs-scroll-port > .tab-control__tab_active {
  box-shadow: inset -3px 0px 0px 0px #bd1e11;
}

.tab-control_bottom > .tab-control__tabs {
  border: none;
  border-top: 1px solid #2c2f34;
}
.tab-control_bottom > .tab-control__tabs > .tab-control__tab_active, .tab-control_bottom > .tab-control__tabs > .scroll-port > .scroll-port__screen > .scroll-port__content > .tab-control__tabs-scroll-port > .tab-control__tab_active {
  box-shadow: inset 0px -3px 0px 0px #bd1e11;
}

.scroll-port__bar {
  background: #2c2f34 !important;
}

.grid {
  display: flex;
  flex-direction: column;
}
.grid .grid__row {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #2c2f34;
  flex-wrap: wrap;
  width: 100%;
}
.grid .grid__row > .grid__cell {
  flex: 0 0 50%;
}
.grid .grid__row .grid__row {
  padding: 0;
  border: none;
}
@media only screen and (max-width: 600px) {
  .grid .grid__row {
    flex-direction: column;
    padding: 2px 5px 5px 0px;
  }
  .grid .grid__row > .grid__cell {
    margin-bottom: 2px;
    flex: 0 0 100%;
  }
  .grid .grid__row > .grid__cell:first-child {
    padding-left: 3px;
  }
}

.example__control {
  display: flex;
  height: 100%;
}

.split-view__bar {
  background-color: #2c2f34 !important;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #191b1f;
}

.component-navigator {
  width: 100%;
  height: calc(100vh - 50px);
}

.example__split-view,
.example__tab-control {
  height: 100%;
}

.example__split-view .left-panel, .example__split-view .right-panel, .example__split-view .middle-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.example__split-view .left-panel {
  background-color: #fd854c;
}
.example__split-view .right-panel {
  background-color: #4cfdd1;
}
.example__split-view .middle-panel {
  background-color: #d44cfd;
}

.example__tree-view,
.example__scroll-port {
  width: 100%;
  height: 100%;
}

.example__scroll-port .scroll-port-demo__content {
  font-size: 70px;
  min-width: 200vw;
  min-height: 200vh;
  background: linear-gradient(-45deg, #e66465, #9198e5);
  color: #ffd7d72e;
}

.scroll-port__bar,
.split-view,
.split-view__bar {
  touch-action: none;
}

.scroll-port__bar {
  border-radius: 0 !important;
}

.tree-view__item {
  margin-top: 5px;
}

.tree-view__header {
  color: white;
  padding: 5px 3px;
}

.tree-view__header::before {
  border-color: transparent transparent transparent white;
}

.tree-view__header_expanded::before {
  border-color: white transparent transparent transparent;
}

.tree-view__item_selected > .tree-view__header {
  background-color: #fd854c;
}