* {
	box-sizing: border-box;
}
body {
	background-color: #1f2227;
	margin: 0;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #dad8d8;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
input {
	padding-left: 3px;
	border: none;
	background-color: #1f2227;
	color: #dad8d8;
	outline: none;
	width: 100%;
	font-size: 12px;
}
select {
	border: none;
	background-color: #1f2227;
	color: #dad8d8;
	outline: none;
	width: 100%;
	font-size: 12px;
}
input[type=checkbox] {
	width: auto;
}
.header {
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 100%;
	background-color: #191b1f;
}
.tab-control {
	width: 100%;
	height: 100%;
	>.tab-control__tabs {
		border: none;
		border-bottom: 1px solid #2c2f34;
		>.tab-control__tab {
			color: #dad8d8;
			text-decoration: none;
			padding: 10px 20px;
			white-space: nowrap;
			&:hover {
				background-color: #26292d;
			}
		}
		>.tab-control__tab_active {
			background-color: #26292d;
			box-shadow: inset 0px 3px 0px 0px #bd1e11;
		}
	}
	.tab-control__tabs-scroll-port {
		>.tab-control__tab {
			color: #dad8d8;
			text-decoration: none;
			padding: 10px 20px;
			white-space: nowrap;
			&:hover {
				background-color: #26292d;
			}
		}
		>.tab-control__tab_active {
			background-color: #26292d;
			box-shadow: inset 0px 3px 0px 0px #bd1e11;
		}
	}
	>.tab-control__content {
		text-align: justify;
		overflow: hidden;
	}
}
.tab-control_left {
	>.tab-control__tabs {
		border: none;
		border-right: 1px solid #2c2f34;
		>.tab-control__tab_active {
			box-shadow: inset 3px 0px 0px 0px #bd1e11;
		}
		>.scroll-port {
			>.scroll-port__screen {
				>.scroll-port__content {
					>.tab-control__tabs-scroll-port {
						>.tab-control__tab_active {
							box-shadow: inset 3px 0px 0px 0px #bd1e11;
						}
					}
				}
			}
		}
	}
}
.tab-control_right {
	>.tab-control__tabs {
		border: none;
		border-left: 1px solid #2c2f34;
		>.tab-control__tab_active {
			box-shadow: inset -3px 0px 0px 0px #bd1e11;
		}
		>.scroll-port {
			>.scroll-port__screen {
				>.scroll-port__content {
					>.tab-control__tabs-scroll-port {
						>.tab-control__tab_active {
							box-shadow: inset -3px 0px 0px 0px #bd1e11;
						}
					}
				}
			}
		}
	}
}
.tab-control_bottom {
	>.tab-control__tabs {
		border: none;
		border-top: 1px solid #2c2f34;
		>.tab-control__tab_active {
			box-shadow: inset 0px -3px 0px 0px #bd1e11;
		}
		>.scroll-port {
			>.scroll-port__screen {
				>.scroll-port__content {
					>.tab-control__tabs-scroll-port {
						>.tab-control__tab_active {
							box-shadow: inset 0px -3px 0px 0px #bd1e11;
						}
					}
				}
			}
		}
	}
}
.scroll-port__bar {
	background: #2c2f34 !important;
	touch-action: none;
	border-radius: 0 !important;
}
.grid {
	display: flex;
	flex-direction: column;
	.grid__row {
		display: flex;
		flex-direction: row;
		padding: 10px 0 10px 5px;
		border-bottom: 1px solid #2c2f34;
		flex-wrap: wrap;
		width: 100%;
		>.grid__cell {
			flex: 0 0 50%;
		}
		.grid__row {
			padding: 0;
			border: none;
		}
	}
}
.example__control {
	display: flex;
	height: 100%;
}
.split-view__bar {
	background-color: #2c2f34 !important;
	touch-action: none;
}
.component-navigator {
	width: 100%;
	height: calc(100vh - 50px);
}
.example__split-view {
	height: 100%;
	.left-panel {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #fd854c;
	}
	.right-panel {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #4cfdd1;
	}
	.middle-panel {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #d44cfd;
	}
}
.example__tab-control, .example__data-table {
	height: 100%;
}
.example__tree-view {
	width: 100%;
	height: 100%;
}
.example__scroll-port {
	width: 100%;
	height: 100%;
	.scroll-port-demo__content {
		font-size: 70px;
		min-width: 2000px;
		min-height: 2000px;
		background: linear-gradient(-45deg, #e66465, #9198e5);
		color: #ffd7d72e;
	}
}
.split-view {
	touch-action: none;
}
.tree-view__header {
	display: inline-block;
	color: #dad8d8;
	padding: 5px 12px;
	margin-left: 5px;
}
.tree-view__expander {
	&::before {
		border-color: transparent transparent transparent #dad8d8;
	}
}
.tree-view__item_partial-selected {
	>.tree-view__header {
		box-shadow: inset 5px 0px #fd854c;
	}
}
.tree-view__item_selected {
	>.tree-view__header {
		background-color: #fd854c;
		color: #191b1f;
	}
}

.data-table {
	width: 100%;
	height: 100%;
	.data-table__head {
		display: flex;
		flex-direction: row;
		border: 1px solid #2c2f34;
		.data-table__column {
			padding: 5px 0;
			> span {
				margin-left: 10px;
			}
		}
		.data-table__bar {
			position: relative;
			user-select: none;
			background-color: #2c2f34 !important;
			touch-action: none;
		}
	
		.data-table__bar_x {
			cursor: ew-resize;
			height: 100%;
		}	
		
		.data-table__cell {
			padding: 5px 0;
		}
	}
}

@media only screen and (max-width: 600px) {
	.grid {
		.grid__row {
			flex-direction: column;
			padding: 2px 5px 5px 0px;
			>.grid__cell {
				margin-bottom: 2px;
				flex: 0 0 100%;
				&:first-child {
					padding-left: 3px;
				}
			}
		}
	}
}
