<div class={{this.classNames}}>
  {{component 
    this.expanderTemplateName
    hasChilds=this.hasChilds
    isExpanded=this.isExpanded
    toggleExpander=this.toggleExpander
    classNamesBuilder=this.classNamesBuilder
  }}
  <a 
    href="#"
  >
    {{component 
      this.headerTemplateName 
      header=this.header 
      classNamesBuilder=this.classNamesBuilder
    }}
  </a>
</div>