$split-gutter-size:             3px !default;

.split-view {
  height:                       100%;
  width:                        100%;
  display:                      flex;
  
  &-x {
    flex-direction:               row;
  }
  &-y {
    flex-direction:               column;
  }
  .split-view-pane {
    width:                      100%;
    height:                     100%;
    vertical-align:             top;
    overflow:                   hidden;
  }
  .split-view-bar {
    position:                   relative;
    user-select:                none;
    &-x {
      cursor:                   ew-resize;
      height:                   100%;
      width:                    $split-gutter-size;
      background-color:       black;
    }
    &-y {
      cursor:                   n-resize;
      height:                   $split-gutter-size;
      width:                    100%;
      background-color:       black;
    }
  }
  .split-view-bar {
    &-x {
      .split-view-decorator {
        height: 100%;
      }
    }
    &-y {
      .split-view-decorator {
        width: 100%;
      }
    }
  }
  .split-view-decorator {
    position:                 absolute;
    z-index:                  1002;
    background-color:       rgba(173, 216, 230, 0.5);
    user-select:              none;
  }
}