.#{block("tab-control")} {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  > .#{block-element("tab-control", "content")} {
    flex: 1;
    overflow: hidden;
  }

  > .#{block-element("tab-control", "tabs")}, 
  > .#{block-element("tab-control", "tabs")} 
  > .#{block("scroll-port")} 
  > .#{block-element("scroll-port", "screen")} 
  > .#{block-element("scroll-port", "content")} 
  > .#{block-element("tab-control", "tabs-scroll-port")} {
    display: flex;
    flex-direction: row;
    flex: 0;
    > .#{block-element("tab-control", "tab")} {
      text-overflow: ellipsis;
      > .#{block-element("tab-control", "link")} {
        text-decoration: none;
      }
    > .#{block-element("tab-control", "close")} {
      &:after{
        content: "x";
        }
      }
    }
  }

  &.#{block-modifier("tab-control", "bottom")} {
    flex-direction: column-reverse;
  }

  &.#{block-modifier("tab-control", "backward")} {
    > .#{block-element("tab-control", "tabs")}, 
    > .#{block-element("tab-control", "tabs")} 
    > .#{block("scroll-port")} 
    > .#{block-element("scroll-port", "screen")} 
    > .#{block-element("scroll-port", "content")} 
    > .#{block-element("tab-control", "tabs-scroll-port")} {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &.#{block-modifier("tab-control", "left")}, 
  &.#{block-modifier("tab-control", "right")} {
    flex-direction: row;
    > .#{block-element("tab-control", "tabs")}, 
    > .#{block-element("tab-control", "tabs")} 
    > .#{block("scroll-port")} 
    > .#{block-element("scroll-port", "screen")} 
    > .#{block-element("scroll-port", "content")} 
    > .#{block-element("tab-control", "tabs-scroll-port")} {
      flex-direction: column;
    }
    &.#{block-modifier("tab-control", "backward")} {
      > .#{block-element("tab-control", "tabs")}, 
      > .#{block-element("tab-control", "tabs")} 
      > .#{block("scroll-port")} 
      > .#{block-element("scroll-port", "screen")} 
      > .#{block-element("scroll-port", "content")} 
      > .#{block-element("tab-control", "tabs-scroll-port")} {
        flex-direction: column-reverse;
      }
    }
  }

  &.#{block-modifier("tab-control", "right")} {
    flex-direction: row-reverse;
  }
}

