.tab-control {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  > .tab-control-content {
    flex: 1;
    overflow: hidden;
  }
  > .tab-control-tabs, > .tab-control-tabs > .scroll-port > .scroll-port-screen > .scroll-port-content > .tab-control-tabs-scroll-port {
    display: flex;
    flex-direction: row;
    flex: 0;
    > .tab-control-tab {
      text-overflow: ellipsis;
      > .tab-control-link {
        text-decoration: none;
      }
      > .tab-control-close {
        &::after{
          content: "x";
        }
      }
    }
  }

  &.tab-control-bottom {
    flex-direction: column-reverse;
  }

  &.tab-control-backward {
    > .tab-control-tabs, > .tab-control-tabs > .scroll-port > .scroll-port-screen > .scroll-port-content > .tab-control-tabs-scroll-port {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &.tab-control-left, 
  &.tab-control-right {
    flex-direction: row;
    > .tab-control-tabs, > .tab-control-tabs > .scroll-port > .scroll-port-screen > .scroll-port-content > .tab-control-tabs-scroll-port {
      flex-direction: column;
    }
    &.tab-control-backward {
    > .tab-control-tabs, > .tab-control-tabs > .scroll-port > .scroll-port-screen > .scroll-port-content > .tab-control-tabs-scroll-port {
        flex-direction: column-reverse;
      }
    }
  }

  &.tab-control-right {
    flex-direction: row-reverse;
  }
}

