<div
  class={{this.classNames}}
  ...attributes
>
  {{#with (hash Cell=(component this.cellTemplateName)) as |Row|}}
    {{#each this.cells as |content|}}
      <Row.Cell 
        @content={{content}} 
        @classNamesBuilder={{this.classNamesBuilder}}
      />
    {{/each}}
  {{/with}}
</div>