<div
  class="{{bem (bem "data-table") "row" (hash $selected=this.isSelected)}}"
  {{did-insert this.didInsert}}
  ...attributes
>
  {{#with (hash Cell=(component this.cellTemplateName)) as |Row|}}
    {{#each this.cells as |value index|}}
      <Row.Cell 
        @width={{get this.columnSizes index}}
      > 
        {{value}} 
      </Row.Cell>
    {{/each}}
  {{/with}}
</div>